#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.generalCard{
  width: 500px;
  display: flex;
  margin: auto;
  flex-direction: column;
  .line{
    right: 19px;
    position: relative;
  }
}

.box{
  .reset{
    position: relative;
    bottom: 20px;
    border-radius: 50%; /* Hace que el botón sea redondo */
    width: 50px; 
    height: 50px;
    cursor: pointer;
    background-color: hsl(150, 100%, 66%);
    .res{
      position: relative;
      /* left: 10px; */
      right: 6.5px;
      top: 2px;
      /* width: 20px; */
    }
  }
}

.card{
  background-color: hsl(217, 19%, 24%);
  padding: 10%;
  border-radius: 10px;
  h2{
    font-weight: 700;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    color: hsl(193, 38%, 86%);
  }
  p{
    color: hsl(150, 100%, 66%);
    font-family: "Manrope", sans-serif;
    /* font-weight: 800; */
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


